window#waybar {
  /* This is to avoid getting f'd by the GTK theme */
  all: initial;
  font-family: Siji, Terminus;
  font-size: 11px;
  font-weight: normal;
  background-color: #000000
}

window#waybar #workspaces button {
  font-family: Siji, Terminus;
  font-size: 11px;
  font-weight: normal;
  padding: 1px;
  border: 0px;
  color: #c2c2c2;
  background-color: #000000;
}

window#waybar #workspaces button.focused {
  color: #FFFFFF;
}

#workspaces,
#mode,
#scratchpad,
#custom-media,
#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#clock,
#memory,
#language,
#battery,
#backlight,
#tray,
#mpd {
  padding: 0 10px;
  color: #c2c2b0;
}
